header{
    background-color:black;
    width:100%;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*body css makes imagbe background*/
body {
    background-image: url(./Assets/Jumbotron_Dinner_Capture_.png);
    background-color:black;
    background-repeat: no-repeat;
    background-size: auto;
}

#options {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

header h1 {
    font-size: 70pt;
    color:white;
    font-weight: bolder;
    font-family: 'Tangerine', cursive;

    padding: 20px;
    margin-bottom: 10pt;

    padding: 10px;
    margin-bottom: 5pt;

    flex-wrap: wrap;
    margin-left: 15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#divButtons {
    float: right;
    color:white;
    margin:0;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}

/* recipe container appears centered over text*/
.recipeContainer {
    position: relative;
    text-align: center;
    color:black;
    margin-top: 35px;
}

#recipes {
    background: white;
    box-shadow: 1px 1px 1px 1px rgb(58, 54, 54);
    border-radius: 5px;
    padding: 30px;
    visibility: hidden;
    margin-bottom: 35px;
    font-family: 'Old Standard TT', serif;
}
.move {
    height: 600px;

    width: 90%;

    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30%;
}

h2 {
    font-size: 30pt;
    font-weight: bold;
}

#name, #ingredients, #instructions, #drinkName, #drinkIngredients, #drinkInstructions {
margin-bottom: 15px;
}

#foodImg {
    max-height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#drinkImg {
    max-height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#close-btn{
    position: relative;
    background: rgb(209, 209, 209);
    color: black;
    border-radius: 5px;
    height:20px;
    width: 75px;
    padding: 2px;
    margin: 5px;
    font-size: small;
    font-family: 'Old Standard TT', serif;
    outline: none;
}
#close-btn:hover {
    color: white;
    background-color: red;
}
#food, #drinks{
    outline: none;
    /* font-size: 15pt;
    font-family: 'Old Standard TT', serif; */
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #options {
        flex-wrap: wrap;
        align-items: center;
    }

}

  @media screen and (max-width: 450px) {
    #options {
        padding: 5px;
        font-size: 10px;
        justify-content: space-evenly;}
    
    header h1{

        font-size: 55px;
        margin-bottom: 0px;
    }
    .centered{

        margin-top: 200px;
       
    }
    #divButtons{
        font-size: 12px;
    }

    .p-10{

        padding: 0.5rem
    }

    #recipes{

        margin-top: 55px;
    }
  }
 
  