header{
    background-color:black;
    width:100%;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#options {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*body css makes imagbe background*/
body {
    background-image: url(./Assets/Jumbotron_Dinner_Capture_.png);
    background-color:black;
    background-repeat: no-repeat;
    background-size: auto;
}


header h1 {
    font-size: 30pt;
    color:white;
    font-weight: bolder;
    padding: 20px;
    margin-bottom: 20pt;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

#divButtons {
    float: right;
    color:white;
    margin:0;
}

/* recipe container appears centered over text*/
.recipeContainer {
    position: relative;
    text-align: center;
    color: white;
}

#recipes {
    background: radial-gradient(circle, rgb(236, 197, 67) 0%, rgba(167, 129, 49, 0.954) 100%);
    box-shadow: 1px 1px 1px 1px rgb(58, 54, 54);
    border-radius: 3px;
    padding: 20px;
    visibility: hidden;
}

.centered {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

#name {
margin-bottom: 15px;
}

#ingredients{
margin-bottom: 15px;
}

#instructions {
    margin-bottom: 15px;
}

#foodImg {
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #options {
        flex-wrap: wrap;
        align-items: center;
    }

  }

  @media screen and (max-width: 450px) {
    #options {
        justify-content: center;
    }
      

  
