header{
    background-color:black;
    width:100%;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#options {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*body css makes imagbe background*/
body {
    background-image: url(./Assets/Jumbotron_Dinner_Capture_.png);
    background-color:black;
    background-repeat: no-repeat;
    background-size: auto;
}


header h1 {
    font-size: 50pt;
    color:white;
    font-weight: bolder;
    padding: 20px;
    margin-bottom: 20pt;
    font-family: 'Tangerine', cursive;
    float: left;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20pt;
    flex-wrap: wrap;
    margin-left: 15px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

#divButtons {
    float: right;
    color:white;
    margin:0;
}

/* recipe container appears centered over text*/
.recipeContainer {
    position: relative;
    text-align: center;
    color:black;
}

#recipes {
    background: white;
    box-shadow: 1px 1px 1px 1px rgb(58, 54, 54);
    border-radius: 5px;
    padding: 20px;
    visibility: hidden;
    margin-bottom: 35px;
}
.move {
    height: 600px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.centered {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

#name {
margin-bottom: 15px;
}

#ingredients{
margin-bottom: 15px;
}

#instructions {
    margin-bottom: 15px;
}

#foodImg {
    max-height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #options {
        flex-wrap: wrap;
        align-items: center;
    }

  }

  @media screen and (max-width: 450px) {
    #options {
        justify-content: center;
    }
      

  
=======
#close-btn{
    position: absolute;
    background: rgb(209, 209, 209);
    border: 2px solid rgb(59, 59, 59);
    color: rgb(59, 59, 59);
    border-radius: 12px;
    height:20px;
    width:20px;
    padding: 1px;
    font-weight: bold;
    font-size:x-small;
    cursor: pointer;
    margin-left: 250px;
    outline: none;
}

#food, #drinks{
    outline: none;
}
